DB_TYPE=postgres
DB_IP=127.0.0.1
DB_PORT=5432
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_DIALECT=postgres
# DB_SSL=

DB_SYNCHRONIZE=false

AUTH0_ISSUER_URL=
AUTH0_AUDIENCE=
AUTH0_CLIENT_ID=
PORT=5000

NODE_ENV=development
BASE_URL=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=1

TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_API_KEY=xyz
TYPESENSE_PROTOCOL=http

# Visual Reality
TOURNAMENT_API=
TOURNAMENT_API_USERNAME=
TOURNAMENT_API_PASSWORD=

