@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;
@use './styles/theme.scss' as theme;
@use '../../../libs/frontend/components/theme' as frontend-components;
@use '../../../libs/frontend/pages/player/theme' as frontend-player;

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-display: swap;
}

@include mat.elevation-classes();
@include mat.app-background();

html {
  @include mat.all-component-themes(theme.$dark-theme);
  @include mtx.all-component-themes(theme.$dark-theme);
  @include frontend-components.theme(theme.$dark-theme);
  @include frontend-player.theme(theme.$dark-theme);

  @media (prefers-color-scheme: light) {
    @include mat.all-component-colors(theme.$light-theme);
    @include mtx.all-component-colors(theme.$light-theme);
    @include frontend-components.colors(theme.$light-theme);
    @include frontend-player.colors(theme.$light-theme);
  }
}
